h1 {
    font-size: 30px;
}

.information{
    width: 200px;
    border: 1px solid #dee7ec;
    float: left;
}

.main{
    width: 800px;
    float: left;
}

.reserch{
    width: 200px;
    border: 1px solid #dee7ec;
    float: right;
}